/*Стили для страницы админа*/
form.register .fields {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#current-data>div {
    margin-bottom: 15px;
}

#list-catalog .new-parent {
    display: none;
}
#list-catalog.select-new-parent .new-parent {
    display: initial;
}

.catalog-container .state-initial #js-insert {
    display: none;
}

.catalog-container .state-insert #js-update,
.catalog-container .state-insert #js-delete,
.catalog-container .state-insert #js-form-insert,
.catalog-container .state-insert .is-change-parent {
    display: none;
}
